<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.alectrion_app_kotlin">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name="com.project.alectrion_app_kotlin.utils.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/alectrion_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/alectrion_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alectrionapp"
        android:usesCleartextTraffic="true">
        <service
            android:name="com.project.alectrion_app_kotlin.foreground.ForegroundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.project.alectrion_app_kotlin.firebase.StandardFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name="com.project.alectrion_app_kotlin.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/alectrion_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_200" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>
</manifest>